// colors
$primary : #0369BD;
$error: #D93025;
$success: #42EEA3; 
$text: #14110B;
$black: #000000;
$white: #ffffff;
$cyan: #48CCDB;

.primary_gradient{
    background: linear-gradient(to right, #719ADA, #48CCDB);
}